
#navigation {
	margin-bottom:10px;	
	float:right;
}

#navigation li {
	list-style: none;
	float: left;
	width: 90px;
	text-align: center;
}

#navigation a {
	text-decoration: none;
	display: block; /*a标签转块级元素*/
}

#navigation a:hover {
	color:#f38094;
}