body {
	margin:0;
	line-height:1.2em;
}


#options,#logoarea,#menucontext,#contentheader,#header,#content-left,#content-center,#footer{
border-style: solid;
border-width: 2px;
border-radius: 5px 5px 5px 5px; 
}

#contentheader {
	height:200px;
	background: #285C00;
	border-radius: 10px 10px 10px 10px; 
	background:url(../pages/background/dark-grey-tile.png)
}

#container {
	margin: 5px 10px 5px 10px;
	height:500px;
	
}

#content-left {
	float: left;
	width: 20%;
	height:800px;
	margin: 5px 5px 5px 0px;
	background: #45930B;
	border-radius: 5px 5px 5px 5px; 
}

#content-center {
	float:left;
    width:79%;
	height:800px;
	margin:5px 0px 5px 0;
	background: #45930B;
	border-radius: 5px 5px 5px 5px; 
}

#footer {
	clear:both;
	background: #285C00;
	border-radius: 3px 3px 3px 3px; 
}